<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honsol.potatoebook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/potatoseed"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CP_Introduction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_SeedPrepration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_LandPrepration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Planting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Fertilization"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Irrigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Weeding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_EarthingUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_PlantProtection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Haulmscutting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Harvesting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_sortingGrading"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Storage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_Processing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP_MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PDFViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoP_List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".True_Potato_Seed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Varieties"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GrowingConditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Growth_and_Development"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeedSizenSpacing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreSprouting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeedDormancy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Removalofseedfromcoldstores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemical_Methord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seed_Cutting"
            android:screenOrientation="portrait" />
        <activity
            android:name="._Precautions_to_be_taken"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Preplantingtillage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Postplantingtillage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Methodofplanting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nitrogen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportanceOfN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Amount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Time"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Source"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UseofslowreleaseNsources"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VarietyNitrogen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplitsNitrogen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoliarfeedingNitrogen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Residualeffect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalciumnMagnisium"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sulphur"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Micronutrient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plantprocesses"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Micronutrientdeficiencies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Relationship_between_micro_nutrients"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeOfAppliaction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SourceMicro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhosphorusandPotash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequirementofPK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplicationRateP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeOfApplicationP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MethordOfApplication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Resistanceagainstfrost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EffectofPKonresponsetomoisturestress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EffectofPKnutritiononresponsetobioticstress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeedprobleminPotato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CulturalmethodsWeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemicalweedcontrol"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Integratedweedmanagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timingofweedcontrol"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Weedcontrolinsequentialormultiplecropping"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeedcontrolinIntercropping"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lateblight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EarlyBlight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scrab"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BlackScurf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bacterialwilt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoftRotBlackLeg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Virus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CutWorm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Whitegrubs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Aphids"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leafhoppers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tubermoth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cystnematode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RootKnot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Physiologicalstorage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pathological"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Biochemical"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Carbohydratecontent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nitrogenfractions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enzymesystems"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Coldstores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Processingstorage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sprout_inhibition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TCNB"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CIPC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Naturalsubstances"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Irradiation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Countrystores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrenchFries"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Flakes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dehydratedchips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Potatosticks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Custardpowder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Potatosoupthickener"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Potatostarchflour"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dehydratedproducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Varietiesforprocessing"
            android:screenOrientation="portrait" />
        <activity android:name=".Areas" />
        <activity android:name=".Main_Activity" />
        <activity android:name=".Permissions" />
        <activity android:name=".AboutUs"></activity>
    </application>

</manifest>