<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honsol.potatoebook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CP_Introduction" />
        <activity android:name=".CP_SeedPrepration" />
        <activity android:name=".CP_LandPrepration" />
        <activity android:name=".CP_Planting" />
        <activity android:name=".CP_Fertilization" />
        <activity android:name=".CP_Irrigation" />
        <activity android:name=".CP_Weeding" />
        <activity android:name=".CP_EarthingUp" />
        <activity android:name=".CP_PlantProtection" />
        <activity android:name=".CP_Haulmscutting" />
        <activity android:name=".CP_Harvesting" />
        <activity android:name=".CP_sortingGrading" />
        <activity android:name=".CP_Storage" />
        <activity android:name=".CP_Processing" />
        <activity android:name=".CP_MainActivity" />
        <activity android:name=".PDFViewActivity" />
        <activity android:name=".PoP_List" />
        <activity android:name=".True_Potato_Seed" />
        <activity android:name=".Varieties" />
        <activity android:name=".GrowingConditions" />
        <activity android:name=".Growth_and_Development" />
        <activity android:name=".SeedSizenSpacing" />
        <activity android:name=".PreSprouting" />
        <activity android:name=".SeedDormancy" />
        <activity android:name=".Removalofseedfromcoldstores" />
        <activity android:name=".Chemical_Methord" />
        <activity android:name=".Seed_Cutting" />
        <activity android:name="._Precautions_to_be_taken" />
        <activity android:name=".Preplantingtillage" />
        <activity android:name=".Postplantingtillage"></activity>
    </application>

</manifest>