<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honsol.potatoebook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CP_Introduction" />
        <activity android:name=".CP_SeedPrepration" />
        <activity android:name=".CP_LandPrepration" />
        <activity android:name=".CP_Planting" />
        <activity android:name=".CP_Fertilization" />
        <activity android:name=".CP_Irrigation" />
        <activity android:name=".CP_Weeding" />
        <activity android:name=".CP_EarthingUp" />
        <activity android:name=".CP_PlantProtection" />
        <activity android:name=".CP_Haulmscutting" />
        <activity android:name=".CP_Harvesting" />
        <activity android:name=".CP_sortingGrading" />
        <activity android:name=".CP_Storage" />
        <activity android:name=".CP_Processing" />
        <activity android:name=".CP_MainActivity" />
        <activity android:name=".PDFViewActivity" />
        <activity android:name=".PoP_List" />
        <activity android:name=".True_Potato_Seed" />
        <activity android:name=".Varieties" />
        <activity android:name=".GrowingConditions" />
        <activity android:name=".Growth_and_Development" />
        <activity android:name=".SeedSizenSpacing" />
        <activity android:name=".PreSprouting" />
        <activity android:name=".SeedDormancy" />
        <activity android:name=".Removalofseedfromcoldstores" />
        <activity android:name=".Chemical_Methord" />
        <activity android:name=".Seed_Cutting" />
        <activity android:name="._Precautions_to_be_taken" />
        <activity android:name=".Preplantingtillage" />
        <activity android:name=".Postplantingtillage" />
        <activity android:name=".Methodofplanting" />
        <activity android:name=".Nitrogen" />
        <activity android:name=".ImportanceOfN" />
        <activity android:name=".Amount" />
        <activity android:name=".Time" />
        <activity android:name=".Source" />
        <activity android:name=".UseofslowreleaseNsources" />
        <activity android:name=".VarietyNitrogen" />
        <activity android:name=".SplitsNitrogen" />
        <activity android:name=".FoliarfeedingNitrogen" />
        <activity android:name=".Residualeffect" />
        <activity android:name=".CalciumnMagnisium" />
        <activity android:name=".Sulphur" />
        <activity android:name=".Micronutrient" />
        <activity android:name=".Plantprocesses" />
        <activity android:name=".Micronutrientdeficiencies" />
        <activity android:name=".Relationship_between_micro_nutrients" />
        <activity android:name=".TimeOfAppliaction" />
        <activity android:name=".SourceMicro" />
        <activity android:name=".PhosphorusandPotash" />
        <activity android:name=".RequirementofPK" />
        <activity android:name=".ApplicationRateP" />
        <activity android:name=".TimeOfApplicationP" />
        <activity android:name=".MethordOfApplication" />
        <activity android:name=".Resistanceagainstfrost" />
        <activity android:name=".EffectofPKonresponsetomoisturestress" />
        <activity android:name=".EffectofPKnutritiononresponsetobioticstress" />
        <activity android:name=".WeedprobleminPotato" />
        <activity android:name=".CulturalmethodsWeed" />
        <activity android:name=".Chemicalweedcontrol" />
        <activity android:name=".Integratedweedmanagement" />
        <activity android:name=".Timingofweedcontrol" />
        <activity android:name=".Weedcontrolinsequentialormultiplecropping" />
        <activity android:name=".WeedcontrolinIntercropping"></activity>
    </application>

</manifest>